.bg-main{
    background-color: #444;
    border-radius: 5px;
    padding: 20px 20px 20px 15px;
}
.pages{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.bord-space-left{
    margin-left: 10px;
}
.bord-space-right{
    margin-right: 10px;
}
li{
    list-style-type:none;
}
.not-active{
    pointer-events: none;
    cursor: default;
}
.state-change{
    background-color: rgba(32,201,151, 0.2);
}
